<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Product List</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/navigation-bar.css">
    <link rel="stylesheet" href="css/product-listing.css">
</head>
<body>
    <div class="nav-bar">
        <a class="active" href="index.php?product_listing">Product List</a>
        <a href="index.php?product_add_form">Product Add</a>
        <button class="button-red" type="submit" form="product-list-form-id">Mass Delete</button>
    </div>
    <form action="index.php?product_listing" id="product-list-form-id" method="post">
        <?php
        foreach ($products as $product):
        ?>
        <div class="card-column">
            <div class="card">
                <div class="card-checkbox">
                    <input type="checkbox" name="checkboxes[]" value=<?php echo $product->getSku()?>>
                </div>
                <h4><?php echo $product->getSku();?></h4>
                <p><?php echo $product->getName()?></p>
                <p><?php echo $product->getPrice().'$'?></p>
                <p><?php echo $product->getValueDetail()?></p>
            </div>
        </div>
        <?php
        endforeach;
        ?>
    </form>
</body>
